body{
	background: rgb(79,160,174);
	background: linear-gradient(45deg, rgba(79,160,174,1) 0%, rgba(210,157,56,1) 100%);
}
.head{
	background-color: #1f1f1f;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
}
span{
	color: green;
}
ul{
	list-style: none;
	padding: 0;
}
img{
	border: 1px solid black;
	margin: 5px;
}
.block-section li{
	color: #f8f9fa;
}
nav{
	margin-bottom: 80px;
}
fieldset{
	display: flex;
}
.produit{
	border:1px solid grey;
}
.float-r{
	float: right;
}
.icon{
	cursor: pointer;
}
.spec-basket{
	position: absolute;
	bottom: 3%;
	right: 5%;
}
.retour-section{
	position: absolute;
	bottom: 3%;
	right: 3%;
}
.list-item-flex{
	display: flex!important;
	justify-content: space-evenly!important;
}
.img-product{
	width: 100%;
}