<!--View associated to index action of MainController controller -->
<div class="ui grid">
    <fieldset class="ten wide column">
        <legend>Store</legend>
        <a href="{{ path('order') }}" class="ui black button">Mes commandes ({{ nbCommand }})</a>
        <a href="{{ path('store') }}" class="ui black button">Parcourir le store</a>
    </fieldset>
    <fieldset class="five wide column">
        <legend>Paniers</legend>
        <a href="{{ path('newBasket') }}" class="ui green button">Nouveau ...</a>
        <a href="{{ path('basket') }}" class="ui black button">Mes paniers ({{ nbBasket }})</a>
    </fieldset>
    <fieldset class="sixteen wide column list-item-flex">
        <legend>Promotions en cours</legend>
        {% for product in productPromo %}
        <ul>
            <li><a href="{{ path('productUnit', [product.section, product.id]) }}"><img width="75" src="public/assets/img/{{product.image}}.jpg"></a></li>
            <li>{{ product.name }}</li>
            <li>{{ product.price }} <span>({{product.promotion}})</span></li>
        </ul>
        {% endfor %}
    </fieldset>
    <fieldset class="sixteen wide column list-item-flex">
        <legend>Consultés récemment</legend>
        {% for prod in productsInSession %}
        <ul>
            <li><a href="{{ path('productUnit', [prod.section, prod.id]) }}"><img width="75" src="public/assets/img/{{prod.image}}.jpg"></a></li>
            <li>{{ prod.name }}</li>
            <li>{{ prod.price }} <span>({{prod.promotion}})</span></li>
        </ul>
        {% endfor %}
    </fieldset>
</div>
