<div class="ui grid">
    <div class="ui vertical menu four wide column">
        {% for section in listSection %}
        <a class="item" href="{{path('section', [section.id])}} ">
            {{ section.name }}
            <div class="ui label teal left pointing label">({{ section.products|length }})</div>
        </a>
        {% endfor %}
    </div>
    <div class="twelve wide column">
        <a href="{{ path('home') }}" class="ui black button float-r">Retour (board)</a>
        <h1>{{actualSection.name}}</h1>
        <fieldset>
            <legend>Fiche produit</legend>
            <div class="ui grid">
                <div class="height wide column">
                    <img class="img-product" src="https://file1.science-et-vie.com/var/scienceetvie/storage/images/1/0/6/106515/les-premiers-oeufs-sexes-arrivent-magasin.jpg?alias=exact1024x768_l">
                    <p>{{actualProduct.comments}}</p>
                </div>
                <div class="height wide column">
                    <h2>{{actualProduct.name}}</h2>
                    {{actualProduct.price}}
                    <span>({{actualProduct.promotion}})</span>
                    <fieldset>
                        <legend>Où mettre le produit ?</legend>
                        <div class="ui grid">
                            <div class="sixteen wide column">
                                <a class="ui button" href='{{ path('addProduct', [actualProduct.id]) }}'>Ajouter le produit dans le panier par défaut</a>
                            </div>
                            <div class="sixteen wide column">
                               <strong>OU</strong>
                            </div>
                            <div class="sixteen wide column">
                                <form class="ui form" action='{{ path('addProductTo', [actualProduct.id]) }}' method="post">
                                    <select name="id">
                                        <option value="">--Dérouler pour choisir le panier--</option>
                                        {% for basket in basket %}
                                        <option value="{{ basket.id }}">{{ basket.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="ui button" type="submit">Ajouter le produit dans le panier sélectionné</button>
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <a href="{{path('section', [actualSection.id])}}" class="ui blue button retour-section">Retour à {{actualSection.name}}</a>
        </fieldset>
    </div>
</div>