 <div class="ui grid">
     <div class="ui vertical menu four wide column">
         {% for section in listSection %}
         <a class="item" href="{{path('section', [section.id])}} ">
             {{ section.name }}
             <div class="ui label teal left pointing label">({{ section.products|length }})</div>
         </a>
         {% endfor %}
     </div>
        <div class="eleven wide column">
            <fieldset class="list-item-flex">
                <legend>Promotions en cours</legend>
                {% for product in productPromo %}
                <ul>
                    <li><a href="{{ path('productUnit', [product.section, product.id]) }}"><img width="75" src="public/assets/img/{{product.image}}.jpg"></a></li>
                    <li>{{ product.name }}</li>
                    <li>{{ product.price }} <span>({{product.promotion}})</span></li>
                </ul>
                {% endfor %}
            </fieldset>
            <fieldset class="list-item-flex">
                <legend>Consultés récemment</legend>
                {% for prod in productsInSession %}
                <ul>
                    <li><a href="{{ path('productUnit', [prod.section, prod.id]) }}"><img width="75" src="public/assets/img/{{prod.image}}.jpg"></a></li>
                    <li>{{ prod.name }}</li>
                    <li>{{ prod.price }} <span>({{prod.promotion}})</span></li>
                </ul>
                {% endfor %}
            </fieldset>
        </div>
    </div>