 <div class="ui grid">
        <div class="block-section four wide column">
            <ul>
            {% for section in listSection %}
                <li>
                    <a href="{{path('section', [section.id])}} ">{{ section.name }} ({{ section.products|length }})</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="eleven wide column">
            <fieldset class="list-item-flex">
                <legend>Promotions en cours</legend>
                {% for product in productPromo %}
                <ul>
                    <li><a href="{{ path('productUnit', [product.section, product.id]) }}"><img width="75" src="https://file1.science-et-vie.com/var/scienceetvie/storage/images/1/0/6/106515/les-premiers-oeufs-sexes-arrivent-magasin.jpg?alias=exact1024x768_l"></a></li>
                    <li>{{ product.name }}</li>
                    <li>{{ product.price }} <span>({{product.promotion}})</span></li>
                </ul>
                {% endfor %}
            </fieldset>
            <fieldset class="list-item-flex">
                <legend>Consultés récemment</legend>
                {% for prod in productsInSession %}
                <ul>
                    <li><a href="{{ path('productUnit', [prod.section, prod.id]) }}"><img width="75" src="https://file1.science-et-vie.com/var/scienceetvie/storage/images/1/0/6/106515/les-premiers-oeufs-sexes-arrivent-magasin.jpg?alias=exact1024x768_l"></a></li>
                    <li>{{ prod.name }}</li>
                    <li>{{ prod.price }} <span>({{prod.promotion}})</span></li>
                </ul>
                {% endfor %}
            </fieldset>
        </div>
    </div>